body {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
}

.selected {
border: solid 3px black;
}

h1 {
    text-align: center;
    text-decoration: underline 2px;
}

ul a {
    color: black;
}